$siteFont: 'Open Sans', sans-serif;
$Volkov: 'Volkov', serif;

//Colors
$primaryBlue: #276ebe;
$darkBlue: #3b4959;
$lightGrey: #a3a3a3;


// Media Queries
$iPad:  "screen and (max-width : 980px)";
$bb:  "screen and (max-width : 660px)";